@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700;800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
--accent: #2ad0a7;
--accent-2: #56d0b8;
--deep: #0F5683;
}


html, body, #root { height: 100%; }
body {
@apply bg-gray-50 font-poppins;
}


/* small helper to match the rounded hero mask */
.hero-mask {
    clip-path: ellipse(130% 90% at 50% 0%);
  }
  